<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" 
  xmlns:context="http://www.springframework.org/schema/context" 
  xmlns:mvc="http://www.springframework.org/schema/mvc" 
  xmlns:cache="http://www.springframework.org/schema/cache"
  xsi:schemaLocation="http://www.springframework.org/schema/beans   
            http://www.springframework.org/schema/beans/spring-beans.xsd   
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context.xsd   
            http://www.springframework.org/schema/mvc   
            http://www.springframework.org/schema/mvc/spring-mvc.xsd 
            http://www.springframework.org/schema/cache  
            http://www.springframework.org/schema/cache/spring-cache.xsd">
   <!--读取config下的redis配置文件-->
   <context:property-placeholder location="classpath*:config/*.properties" />
  
   <!-- redis 相关配置,配置jedis连接池配置对象 -->
   <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
     <!--配置jedis配置对象的最大空闲连接数-->
     <property name="maxIdle" value="${redis.maxIdle}" />
       <!--最大空闲等待时间-->
     <property name="maxWaitMillis" value="${redis.maxWait}" />  
     <property name="testOnBorrow" value="${redis.testOnBorrow}" />  
   </bean>  

    <!--配置jedis连接工厂-->
   <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
       p:host-name="${redis.host}" p:port="${redis.port}" p:password="${redis.pass}" p:pool-config-ref="poolConfig"/>  
   <!--配置redis模板对象，用于操作redis key-value数据库-->
   <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
       <!--注入jedis连接工厂对象，用于获取jedis对象-->
    	<property name="connectionFactory" ref="jedisConnectionFactory" />
   </bean>  
      
</beans>